@import "layout-theme";

.logo {
  content: url('~dds-angular8/assets/img/logo.svg');
}

.default-avatar {
  content: url('~dds-angular8/assets/img/avatar.png');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Restructure cards to make themable */

.mat-card {
  padding: 0 !important;
}

.mat-card-header {
  padding: 16px 16px 0 16px !important;
  .mat-card-avatar {
    .mat-icon {
      font-size: 48px;
    }
  }
  .mat-action {
    .mat-icon {
      font-size: 38px;
      cursor: pointer;
      padding-right: 9px;
      padding-top: 4px;
    }
  }
}

.mat-card-content {
  padding: 16px;
}


.mat-table-compact.mat-table
{
  .mat-header-row,
  .mat-row {
    height: 38px;
  }
}

.flex {
  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  place-content: center;
}

.noresize {
  resize: none !important;
}

.mat-menu-panel {
  max-width: none !important;
}

.mat-table {
  margin-right: 16px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.35);
}

.mat-tree-node {
  min-height: unset;
}
